@charset "UTF-8";
.boardTop{
	width:100%;
	height:90px;
	border-bottom:solid 1px black;
}
.boardDiv{
	box-sizing: content-box;
	width:95%;
	min-height: 900px;
	margin: 0 auto;
	background-color: white;
}
@media(min-width:1200px){
	/* .div-6{
		width:48%;
		float:left;
	} */
}
.div-12{
	box-sizing:content-box;
	min-height:850px;
	width:100%;
	
}
.div-6{
	width:48%;
	height:165px;
	border-bottom:1px solid gray;
	margin-left: 10px;
	margin-right: 10px;
	/* border-top:1px solid gray; */
	
	float:left;
}
.posterDiv{
	width:100px;
	height: 130px;
	float:left;
	background-color: yellow;
	margin: 15px;
}
.dramaInfo{
	width:380px;
	height: 130px;
	margin:15px;
}
/* pagination */
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}


/* .pagination{
	display: inline-block;
}
.pagination>li{
	display: inline;
}
.b-pagination div{
	width:auto;
	height: auto;
	margin:10px auto;
}
.b-pagination ul li a{
	
	min-width:40px;
	min-height:40px;
	line-height: 40px;
} */
